body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background-image: url("./images/image2.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
}

nav {
    margin-bottom: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
}